<!-- 
This launch file starts a static scan publisher and obstacle detector. 
It also configures transformations and starts Rviz for data visualisation. 
-->

<launch>
  <node name="static_scan_node" pkg="obstacle_detector" type="static_scan_publisher" respawn="false" required="false" output="screen"/>

  <node name="base_to_laser" pkg="tf" type="static_transform_publisher" respawn="false" required="false" output="screen" args="0 0 0 0 0 0 /base /laser 100"/>

  <node name="world_to_base" pkg="tf" type="static_transform_publisher" respawn="false" required="false" output="screen" args="0 0 0 0 0 0 /world /base 100"/>
  
  <node name="obstacle_detector" pkg="obstacle_detector" type="obstacle_detector_node" respawn="false" required="false" output="screen">
    <param name="frame_id"      type="string" value="/base"/>
    <param name="scan_topic"    type="string" value="/scan"/>

    <param name="split_and_merge" type="bool" value="true"/>
    <param name="detect_circles"  type="bool" value="true"/>
    <param name="publish_markers" type="bool" value="true"/>
    <param name="save_snapshot"   type="bool" value="false"/>

    <param name="max_scan_range"     value="5.599"/>
    <param name="min_group_points"   value="3"/>
    <param name="max_group_distance" value="0.100"/>
    <param name="max_split_distance" value="0.100"/>
    <param name="max_merge_distance" value="0.200"/>
    <param name="max_circle_radius"  value="0.500"/>
    <param name="radius_enlargement" value="0.050"/>
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find obstacle_detector)/resources/obstacle_detector.rviz"/>
</launch>
