<!-- Runs obstacle_detector with two Hokuyo laser scanners. -->
<launch>
  <node pkg="hokuyo_node" type="hokuyo_node" name="front_hokuyo" output="screen">
    <param name="port"     type="string" value="/dev/sensors/hokuyo_H0904847"/>
    <param name="frame_id" type="string" value="front_scanner"/>

    <param name="intensity"      type="bool" value="false"/>
    <param name="calibrate_time" type="bool" value="true"/>

    <param name="min_ang" value="-2.0862"/>	<!-- +/-120 [deg] -->
    <param name="max_ang" value="2.0923"/>
    <param name="skip" value="0"/>
    <param name="time_offset" value="0.0"/>
    <param name="cluster" value="1"/>

    <remap from="scan" to="front_scan"/>
  </node>

  <node pkg="hokuyo_node" type="hokuyo_node" name="rear_hokuyo" output="screen">
    <param name="port"     type="string" value="/dev/sensors/hokuyo_H1320250"/>
    <param name="frame_id" type="string" value="rear_scanner"/>

    <param name="intensity"      type="bool" value="false"/>
    <param name="calibrate_time" type="bool" value="true"/>

    <param name="min_ang" value="-2.0862"/>	<!-- +/-120 [deg] -->
    <param name="max_ang" value="2.0923"/>
    <param name="skip" value="0"/>
    <param name="time_offset" value="0.0"/>
    <param name="cluster" value="1"/>

    <remap from="scan" to="rear_scan"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_to_front_scanner" output="screen" args="0.1825 0 0 0 0 0 base front_scanner 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_to_rear_scanner" output="screen" args="-0.1825 0 0 3.14159265 0 0 base rear_scanner 100"/>
  
  <node pkg="tf" type="static_transform_publisher" name="base_world" output="screen" args="0 0 0 0 0 0 base world 100"/>
 
  <node pkg="obstacle_detector" type="scans_merger" name="scans_merger" output="screen">
    <param name="pcl_frame" type="string" value="base"/>
    <param name="max_unreceived_scans" value="1"/>
    <param name="omit_overlapping_scans" type="bool" value="true"/>
    <param name="scanners_separation" value="0.365"/>
  </node>

  <node pkg="obstacle_detector" type="obstacle_detector" name="obstacle_detector" output="screen">
    <param name="world_frame"     type="string" value="world"/>
    <param name="scanner_frame"   type="string" value="scanner"/>
 
    <param name="use_scan"            type="bool" value="true"/>
    <param name="use_pcl"             type="bool" value="false"/>
    <param name="transform_to_world"  type="bool" value="true"/>
    <param name="use_split_and_merge" type="bool" value="false"/>

    <param name="min_group_points"    value="3"/>
    <param name="max_group_distance"  value="0.100"/>
    <param name="distance_proportion" value="0.006136"/>
    <param name="max_split_distance"  value="0.100"/>

    <param name="max_merge_separation" value="0.200"/>
    <param name="max_merge_spread"     value="0.070"/>
    <param name="max_circle_radius"    value="0.300"/>
    <param name="radius_enlargement"   value="0.050"/>

    <param name="max_scanner_range"    value="5.0"/>
    <param name="max_x_range"          value="2.0"/>
    <param name="min_x_range"          value="-2.0"/>
    <param name="max_y_range"          value="2.0"/>
    <param name="min_y_range"          value="-2.0"/>
  </node>
  
  <node pkg="obstacle_detector" type="obstacle_visualizer" name="obstacle_visualizer" output="screen"/>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find obstacle_detector)/resources/obstacle_detector.rviz"/>
</launch>

